@media screen and (min-width: 900px) {
  #headercontainer{max-width:1100px;}
}
@media screen and (max-width:900px){
  #navbar a{display:none;}
  #navbar form {display:block;}
  #navbar form select {width: 10vw;}
  #headercontainer{max-width: 90%;}
}
@media screen and (max-width:750px){
  .floatl, .floatr{display:block; float:none;}
  .logo {margin-bottom:20px;}
  #navbar form select {width:75vw;}
  header {text-align:center;}

}
