@media screen and (min-width: 985px) { /* Desktop */
  #headercontainer{max-width: 1100px;}
  .scroll-arrow {display:inline-block;}
  .splashart {position:relative; left:-15vh; top: 70vh; text-align: left;}
}

/* inlarge figure by 100 img for desktop at appropriate width */
@media screen and (min-width:750px) {
  figcaption {width:300px; bottom: 319px;}
  figure img {max-height:300px;}
  figure {width:300px; height:300px;}
}
@media screen and (max-width:900px){ /* form menu small */
  .navbar a{display:none;}
  .navbar form {display:block;}
  .navbar form select {width: 10vw;}
  #headercontainer{max-width: 90%;}
  .scroll-arrow {display:inline-block;}

}
@media screen and (max-width:750px){ /* form menu big */
  .floatl, .floatr{display:block; float:none;}
  .logo {margin-bottom:20px;}
  .navbar form select {width: 100%;}
  header {text-align:center;}
  .scroll-arrow {display:none;}
}

@media screen and (max-height:650px) { /* fix height on text box so it doesnt hide */
  .splashart {
    text-align: center;
    position:relative;
    left: 0vh;
    top: 30vh;
  }
}

@media screen and (max-height: 500px) { /* Arrow hide on overlap*/
  .scroll-arrow {display:none;}
}
@media screen and (max-width: 500px) { /* extreme responsive on figures */
  figcaption {min-width: 100%; bottom: 419px;}
  figure img {min-height:100%; min-width:100%;}
  figure {width:600px; height: 400px;}
}
