/* Global variables */
.nopandm {margin: 0; padding: 0;}
.nop {padding: 0;}
.nom {margin: 0;}
.wrap {margin 0 auto;}
.floatl {float:left;}
.floatr {float:right;}


/* HEADER */
#headercontainer{
  padding-top: 1vh;
  width:100%;
  margin: 0 auto;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.logo{
  margin: 0 0 0 5px;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;

}

.navbar {
  margin: 0 auto;
  line-height: normal;
}

nav a {
  padding: 0 1em;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  color: #fff;

}

.navbar a:hover, .active {
  color:#56AED4;
}

.navbar form {
  display:none;
}

.navbar form select {

}

/* SPLASH */
#intro {
  max-width:100%;
  text-align:center;
  height:99vh;
  display:block;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

#splashsection {
  box-shadow: 0 0 1em rgba(0,0,0,0.5);
  background: #000 url(images/bg3.png) no-repeat fixed;
  background-size: cover;
  background-position: top;
  overflow: hidden;
  z-index: -1;
  min-height: 400px;
  height: 100%;
}

.splashart {
  padding-top: 50px;
  width:300px;
  text-align:left;
  line-height: 1.4;
  margin: 0 auto;

}

.splashart h1 {
  text-transform: uppercase;
  font-size: 36px;
  color: #fff;
  z-index: 1;
  font-family: Gotham,sans-serif;
}

.splashart * {
  margin: 0;
}

.splashart p {
  font-size: 18px;


}
.splashart a{
  font-weight:500;
  text-transform: uppercase;
  display: inline-block;

  background-color: #fff;
  margin-top: 10px;
  border: 0.8em solid #fff;
  line-height:1em;
  color: #000;
  font-family: Gotham,sans-serif;

  /* looky nice stuff on button */
  -webkit-font-smoothing: antialiased;

}
svg {
  stroke: white;
  fill: none;
}
.scroll-arrow{
  width:40px;
  position: absolute;
  bottom: 20px;
  display:none;
}

.scroll-arrow.is-animated {
  -webkit-animation:MoveUpDown 2s linear infinite;
}

@keyframes MoveUpDown {
  0% {transform:translateY(0);}
  50% {transform:translateY(5px);}
  100% {transform:translateY(0);}
}


/* MAIN */
main h1 {
  line-height: 100%;
  font-weight: 600;
  font-size: 64px;
  color: white;
}

main {
  width: 100%;
}

#main {
  background-color:#fff;
  height: 500px;
  max-width:1100px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
  font-family: Gotham,sans-serif;
}

#main p {

}

.info h2{
  color: #000;
  text-transform: uppercase;
  text-align: center;

}

.info p {
  max-width: 600px;
  font-size: 16px;
  line-height: 1.5em;
  color: #000;
  display:inline;

}

/*FOOTER*/
#footer {
  background-color:#343434;
  width:100%;
  margin: 0 auto;
}

p {
  color: #fff;

}

figure{
  width:400px;
}

body {
  margin: 0;
}
a {
  text-decoration: none;
}
* {
  transition:all .3s ease-in-out;
  box-sizing: border-box;
}
