/* Global variables */
.nopandm {margin: 0; padding: 0;}
.nop {padding: 0;}
.nom {margin: 0;}
.wrap {margin 0 auto;}
.floatl {float:left;}
.floatr {float:right;}


/* HEADER */
#headercontainer{
  padding-top: 1vh;
  width:100%;
  margin: 0 auto;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.logo{
  margin: 0 0 0 10px;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;

}

.navbar {
  margin: 0 auto;
  line-height: normal;
}

nav a {
  padding: 0 1em;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  color: #fff;

}

.navbar a:hover, .active {
  color:#56AED4;
}

.navbar form {
  display:none;
}

/* SPLASH */
#intro {
  max-width:100%;
  text-align:center;
  height:99vh;
  display:block;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

#splashsection {
  box-shadow: 0 0 1em rgba(0,0,0,0.5);
  background: #000 url(images/bg3.png) no-repeat fixed;
  background-size: cover;
  background-position: top;
  overflow: hidden;
  z-index: -1;
  min-height: 400px;
  height: 100%;
}

.splashart {
  width:300px;
  text-align:left;
  line-height: 1.4;
  margin: 0 auto;

  position: absolute;
  text-align: center;
  top: 20vh;
  left:0;
  right: 0;

}

.splashart h1 {
  text-transform: uppercase;
  font-size: 36px;
  color: #fff;
  z-index: 1;
  font-family: 'Gotham',sans-serif;
}

.splashart * {
  margin: 0;
}

.splashart p {
  font-size: 18px;


}
.splashart a{
  font-weight:500;
  text-transform: uppercase;
  display: inline-block;
  background-color: #fff;
  margin-top: 10px;
  border: 0.8em solid #fff;
  line-height:1em;
  color: #000;
  font-family: 'Gotham',sans-serif;

  /* looky nice stuff on button */
  -webkit-font-smoothing: antialiased;

}
svg {
  stroke: white;
  fill: none;
}
.scroll-arrow{
  width:40px;
  position: absolute;
  bottom: 20px;
  display:none;
}

.scroll-arrow.is-animated {
  -webkit-animation:MoveUpDown 2s linear infinite;
}

@keyframes MoveUpDown {
  0% {transform:translateY(0);}
  50% {transform:translateY(5px);}
  100% {transform:translateY(0);}
}

/* MAIN */
#main {
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
  font-family: 'Gotham',sans-serif;
}

.info h2{
  color: #000;
  text-transform: uppercase;
  text-align: center;
}

.info p {
  max-width: 600px;
  font-size: 16px;
  line-height: 1.5em;
  color: #000;
  display:block;
  margin: 0 auto;
}

#figures {
  padding-top: 75px;
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
}

figure img {
  max-height: 200px;
  position: relative;
  max-width: 100%;
}

figure {
  width: 200px;
  height: 200px;
  margin: 0 25px 40px 25px;
}

figcaption {
  background:rgba(0,0,0,0.2);
  color: #fff;
  width: 200px;
  position:relative;
  bottom: 219px;
}

/* Gym content */

#gymcontent {
  width: 100%;
}

#gymcontent h1 {
  text-transform: uppercase;
  font-size: 50px;
}
#map {
  height: 400px;
  width: 100%;
  transition: none;
}
/*FOOTER*/
footer {
  background-color:#343434;
  width: 100%;
  position:absolute;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  box-shadow: 0 0 1em rgba(0,0,0,0.5);
}

footer h1 {
  color: #fff;
  font-size: 1.2em;
  margin-bottom: 15px;
}

.footercontainer{
  position:relative;
  margin: 0 1% 0 1%;
  max-width: 700px;
  margin: 0 auto;

}

.sections {
  margin: 15px;
  min-width: 200px;
  width: 200px;

}

.sections a {
  display: block;
  padding: 5px 0 5px 0;
  border-bottom: 1px solid #e0e0e0;
  font-size: 1em;
  font-family: 'Gotham', sans-serif;
  color: #fff;
}

.footercontainer .sections{
  display: inline-block;

}

.sections a:last-child {border:none;}

.copyright {
  vertical-align:text-bottom;
}

.txt{
  font-family: 'Gotham', sans-serif;
}
/* global */
p {
  color: #fff;

}
body {
  margin: 0;
}

a {
  text-decoration: none;
}
* {
  transition:all .3s ease-in-out;
  box-sizing: border-box;
}
